@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

    @await Html.PartialAsync("/Areas/Writer/Views/Default/_HeadPartial.cshtml")

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        @await Html.PartialAsync("/Areas/Writer/Views/Default/_NavbarPartial.cshtml")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            @await Html.PartialAsync("/Areas/Writer/Views/Default/_SideBarPartial.cshtml")
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>

                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
                    </div>
                </footer>

            </div>

        </div>

    </div>

    <script src="~/skydash/vendors/js/vendor.bundle.base.js"></script>

    <script src="~/skydash/js/off-canvas.js"></script>
    <script src="~/skydash/js/hoverable-collapse.js"></script>
    <script src="~/skydash/js/template.js"></script>
    <script src="~/skydash/js/settings.js"></script>
    <script src="~/skydash/js/todolist.js"></script>

</body>

</html>
