@using EntityLayer.Concrete
@model List<SocialMedia>
<footer class="pt-4 pb-4 text-center bg-light">
    <div class="container">
        <div class="my-3">
            <div class="h4">MERT KUTLU</div>
            <p>Full-Stack Developer & Backend Developer</p>
            <div class="social-nav">
                <nav role="navigation">
                    @foreach (var item in Model)
                    {
                            <div class="col-4">
                                <ul class="nav justify-content-center">
                                    <li class="nav-item"><a class="nav-link" href="@item.Url" title="@item.Name"><i class="@item.Icon"></i><span class="menu-title sr-only">@item.Name</span></a></li>
                                </ul>
                            </div>
                    }
                </nav>
            </div>
        </div>
        <div class="text-small text-secondary">
            <div class="mb-1">&copy; Super Folio. All rights reserved.</div>
            <div>
                <!-- Make sure to buy a license for the template before removing the line below. Buy license on https://templateflip.com/ -->Design - <a href="https://templateflip.com/" target="_blank">TemplateFlip</a>
            </div>
        </div>
    </div>
</footer>